

{% include "ticket/mheader.html" %}


<div class="container">

<h3>Documentos</h3>

{% if documentos %}

	<table class='table'>

<tr class='active'>
	<td>Usuario que subio el archivo</td>
	<td>Ruta</td>

</tr>
	
	{% for document in documentos %}
		<tr >
		<td>{{document.user}}</td>
		<td><a href="http://www.xiencias.com/files/{{document.docfile.name}}">{{ document.docfile.name }}</a></td>
		</tr>
	{% endfor %}
	
{% else %}
	<p>No existen documentos</p>
{% endif %}

</table>

</div>

<script type="text/javascript">
	

	i=0

$( ".file_upload" ).click(function() {

	i=i+1
	x=i
	console.log(i)

	$("#files").append('<input type="file" id="file" name="docfile'+i+'"><br>')
	
	$("input#cont").val(i)

});

function Eliminar(i)
{
    
    x = $("#cont").text()
    console.log(x)
    var d=document.getElementById('#file'.i)
    console.log(d)
}




</script>