<head>
  <title></title>


    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    
  <script type="text/javascript" src='https://code.jquery.com/jquery-2.1.4.min.js'></script>

  <script src="/static/js/material.min.js"></script>

  <script src="/static/js/monitor.js"></script>

  <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>

  <script src="/static/js/angular-cookie.js"></script>

  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">

<link href='https://fonts.googleapis.com/css?family=Roboto:100' rel='stylesheet' type='text/css'>

  <link rel="stylesheet" href="/static/css/material.min.css">    





  <script>


    var myApp=angular.module('myApp', ['ngCookies']);
    myApp.config(function($interpolateProvider){
    $interpolateProvider.startSymbol('{[{').endSymbol('}]}');
    });

   </script>
       

</head>